{{!-- The following component displays Ember's default welcome message. --}}
<div class="layout-row app-container">
  <header >
    <nav>
      {{#link-to "index"}}
        Home
      {{/link-to}}
    </nav>
  </header>
</div>
{{!-- Feel free to remove this! --}}

{{outlet}}