{{!-- The following component displays Ember's default welcome message. --}}
<h1>welcome</h1>
{{#paper-button raised=true}}Button with action{{/paper-button}}
{{!-- Feel free to remove this! --}}

{{outlet}}