<div class="layout-row layout-lg-colum layout-md-colum layout-sm-colum layout-xs-column">
  <div class="layout-column flex-lg flex-md flex-sm flex-xs">
    {{#paper-card}}
      {{#paper-list}}
        {{#paper-subheader}}User Details{{/paper-subheader}}
        {{#each model as |user|}}
          {{#paper-item class="md-3-line"}}
            <div class="md-list-item-text">
              <h3>{{user.name}}</h3>
              <h4>{{user.email}}</h4>
              <p>Some longer notes here could be here. But they aren't.</p>
            </div>
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/paper-card}}
  </div>
</div>
{{outlet}}